:root {
  --main-text-color: #2e2f42;
  --second-text-color: #434455;
  --accent-color: #4d5ae5;
  --active-color: #404bbf;
  --main-bgr-color: #ffffff;
  --second-bgr-color: #f4f4fd;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
ul {
  margin: 0;
  padding-left: 0;
}

button {
  cursor: pointer;
}

address {
  font-style: normal;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  font-family: "Roboto", sans-serif;
}
.body {
  color: #434455;
  background-color: #ffffff;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.conteiner {
  width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
  /*outline: 2px solid red;*/
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  display: flex;
  align-items: center;
  cursor: pointer;
  border-radius: 4px;
}
.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
.subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

/** ------------- HEADER ------------ */

.header {
  background-color: var(--main-bgr-color);
  border-bottom: 1px solid #e7e9fc;
}
.header-conteiner {
  display: flex;
  align-items: center;
}
.header-navigation {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.header-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--accent-color);
  margin-right: 76px;
  padding-top: 24px;
  padding-bottom: 24px;
  display: block;
}
.header-list {
  display: flex;
  gap: 40px;
}

.header-link {
  font-weight: 500;
  color: var(--main-text-color);
  padding-top: 24px;
  padding-bottom: 24px;
  display: block;
}

.header-link:is(:hover, :focus) {
  color: var(--active-color);
}

.header-contacts {
  font-style: normal;
}

.contacts-list {
  display: flex;
  gap: 40px;
}

.contacts-link {
  color: var(--second-text-color);
  padding-top: 24px;
  padding-bottom: 24px;
  display: block;
}
.contacts-link:is(:hover, :focus) {
  color: var(--active-color);
}

/** -------------HERO-------------- */

.hero {
  background-color: var(--main-text-color);
  padding: 188px 0;
}
.hero-conteiner {
}

.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: var(--main-bgr-color);
  max-width: 496px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 48px;
}

.hero-btn {
  color: var(--main-bgr-color);
  margin: 0 auto;
  padding: 16px 32px;
  background-color: var(--accent-color);
  border: 1px solid var(--accent-color);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
}

.hero-btn:is(:hover, :focus) {
  background-color: var(--active-color);
  border: 1px solid var(--active-color);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
/** --------------- ABOUT ----------------- */

.about {
  padding-top: 120px;
}

.about-list {
  display: flex;
  gap: 24px;
}
.about-item {
  flex-basis: calc((100% -24px) / 4);
}
.about-subtitle {
  color: var(--main-text-color);
  margin-bottom: 8px;
}
.about-text {
  color: var(--second-text-color);
}

/** ------------ WHAT ARE WE DOING -------------- */
.work {
}
.work-title {
  color: var(--main-text-color);
  margin-bottom: 72px;
}
.work-list {
  display: flex;
  gap: 24px;
}
.work-item {
  cursor: pointer;
  display: block;
  flex-basis: calc((100% - 48px) / 3);
}

/** --------------- OUR TEAM ----------------- */

.team {
  background: var(--second-bgr-color);
}
.team-title {
  color: #2e2f42;
  margin-bottom: 72px;
}
.team-list {
  display: flex;
  gap: 24px;
}

.team-item {
  cursor: pointer;
  display: block;
  background: var(--main-bgr-color);
  flex-basis: calc((100% - 72px) / 4);
  padding-bottom: 32px;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.team-subtitle {
  text-align: center;
  color: var(--main-text-color);
  margin-top: 32px;
  margin-bottom: 8px;
}
.team-text {
  text-align: center;
  color: var(--second-text-color);
}

/** --------------- FOOTER ----------------- */

.footer {
  background: var(--main-text-color);
  padding: 100px 0;
}
.footer-conteiner {
}
.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--accent-color);
  margin-bottom: 16px;
  display: inline-block;
}

.footer-text {
  color: var(--second-bgr-color);
  max-width: 264px;
}

/** --------------- PORTFOLIO ----------------- */
.portfolio {
  padding-top: 96px;
  padding-bottom: 120px;
}

.filters-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
}
.filters-item {
}

.filters-btn {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  align-items: center;
  letter-spacing: 0.04em;
  padding: 12px 24px;
  cursor: pointer;
  color: var(--accent-color);
  background: var(--second-bgr-color);
  border: 1px solid #e7e9fc;
  border-radius: 4px;
}
.filters-btn:is(:hover, :focus) {
  color: var(--main-bgr-color);
  background-color: var(--active-color);
  border: 1px solid transparent;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
.projects-list {
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
}

.projects-item {
  flex-basis: calc((100% - 48px) / 3);
}
.projects-link {
  display: block;
}

.projects-link:is(:hover, :focus) {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.projects-card {
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.projects-foto {
}
.projects-title {
  color: var(--main-text-color);
  margin-bottom: 8px;
}
.projects-text {
  color: var(--second-text-color);
}
